{% extends 'base.html'%}

{% block body %}
{% load static %}

<section class="ftco-section ftco-about">
    <div class="container">
    <div class="row no-gutters">
    <div class="col-md-6 p-md-5 img img-2 d-flex justify-content-center align-items-center" style="background-image: url(images/about.jpg);">
    </div>
    <div class="col-md-6 wrap-about ftco-animate">
    <div class="heading-section heading-section-white pl-md-5">
    <span class="subheading">About us</span>
    <h2 class="mb-4">Welcome to RentiFY</h2>
    
    <p>Get It Rent is one of the largest providers of comprehensive rental solutions in the country for all your business needs. Its varied supply of IT equipment, appliances and electronics has made it an established name in the Indian rental industry. The company's mission is to provide superior products at affordable rentals backed by best-in-class support.</p>
    <p>Get It Rent goes one step further than providing products; it provides a 360-degree business ecosystem for both the micro and macro needs of a business.</p>
    <p><a href="#" class="btn btn-primary py-3 px-4">Search Items</a></p>
    </div>
    </div>
    </div>
    </div>
    </section>

{% endblock body %}