{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <title>RentiFY</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
    <link href="https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800&display=swap" rel="stylesheet">

    {% load static %}
    <link rel="stylesheet" href="{% static 'myapp/css/open-iconic-bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'myapp/css/animate.css' %}">
    <link rel="stylesheet" href="{% static 'myapp/css/style1.css' %}">
    <link rel="stylesheet" href="{% static 'myapp/css/owl.carousel.min.css' %}">
    <link rel="stylesheet" href="{% static 'myapp/css/owl.theme.default.min.css' %}">
    <link rel="stylesheet" href="{% static 'myapp/css/magnific-popup.css' %}">

    <link rel="stylesheet" href="{% static 'myapp/css/aos.css' %}">

    <link rel="stylesheet" href="{% static 'myapp/css/ionicons.min.css' %}">

    <link rel="stylesheet" href="{% static 'myapp/css/bootstrap-datepicker.css' %}">
    <link rel="stylesheet" href="{% static 'myapp/css/jquery.timepicker.css' %}">

    
    <link rel="stylesheet" href="{% static 'myapp/css/flaticon.css' %}">
    <link rel="stylesheet" href="{% static 'myapp/css/icomoon.css' %}">
    <link rel="stylesheet" href="{% static 'myapp/css/style.css' %}">
  </head>
  <body>
    
	  <nav class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light" id="ftco-navbar">
	    <div class="container">
	      <a class="navbar-brand" href="index.html">Renti<span>FY</span></a>
	      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav" aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
	        <span class="oi oi-menu"></span> Menu
	      </button>

	      <div class="collapse navbar-collapse" id="ftco-nav">
	        <ul class="navbar-nav ml-auto">
            

	          <li class="nav-item active"><a href="index.html" class="nav-link">Home</a></li>
	        {% comment %} <li class="nav-item"><a href="about " class="nav-link">About</a></li> {% endcomment %}
	          <li class="nav-item"><a href="services" class="nav-link">Services</a></li>
	          <li class="nav-item"><a href="pricing.html" class="nav-link">Pricing</a></li>
	          <li class="nav-item"><a href="car.html" class="nav-link">Packages</a></li>
	          <li class="nav-item"><a href="blog.html" class="nav-link">Blog</a></li>
	          <li class="nav-item"><a href="contact.html" class="nav-link">Contact</a></li>
            <div class="container h-100">
              <div class="d-flex justify-content-center h-100">
                <div class="searchbar">
                  <input class="search_input" type="text" name="" placeholder="Search...">
                  <a href="#" class="search_icon"><i class="fa fa-search"></i></a>
                </div>
              </div>
            </div>
            
	        </ul>
	      </div>
	    </div>
	  </nav>
    <!-- END nav -->
    
    <!-- Nav animation -->
    <div class="hero-wrap ftco-degree-bg" style="background-image: url('{% static 'myapp/images/bg_1.jpg' %}');" data-stellar-background-ratio="0.5">
      <div class="overlay"></div>
      
      <div class="container" style="padding-top: 128px;">
        <!-- Hover effect try -->
         
              
              <div class="col-md-4 col-sm-6">
                  <div class="box1">
                      <img class="pic-1" src="{% static 'myapp/images/software_photo.jpg' %}" class="rounded-3" alt="Avatar" /" style="height: 233px;">
                      <h3 class="title">Softwares</h3>
                      <ul class="icon">
                          <li><a href="#"><i class="fa fa-search"></i></a></li>
                          <li><a href="#"><i class="fa fa-link"></i></a></li>
                      </ul>
                  </div>
              </div>
              <div class="col-md-4 col-sm-6">
                <div class="box1">
                    <img class="pic-2" src="{% static 'myapp/images/hardware_photo.jpg' %}" class="rounded-3" alt="Avatar" /" style="height: 233px;">
                    <h3 class="title">Hardwares</h3>
                    <ul class="icon">
                        <li><a href="#"><i class="fa fa-search"></i></a></li>
                        <li><a href="#"><i class="fa fa-link"></i></a></li>
                    </ul>
                </div>
            </div>
              <div class="col-md-4 col-sm-6">
                  <div class="box1">
                      <img class="pic-3" src="{% static 'myapp/images/package_image.jpg' %}" class="rounded-3" alt="Avatar" /" style="height: 233px;">
                      <h3 class="title">Packages</h3>
                      <ul class="icon">
                          <li><a href="#"><i class="fa fa-search"></i></a></li>
                          <li><a href="#"><i class="fa fa-link"></i></a></li>
                      </ul>
                  </div>
              </div>
          </div>
      
        <div class="row no-gutters slider-text justify-content-start align-items-center justify-content-center">
          <div class="col-lg-8 ftco-animate">
          </div>
        </div>
      </div>
    </div>



<!-- footer -->
    <footer class="ftco-footer ftco-bg-dark ftco-section">
      <div class="container">
        <div class="row mb-5">
          <div class="col-md">
            <div class="ftco-footer-widget mb-4">
              <h2 class="ftco-heading-2"><a href="#" class="logo">Renti<span>FY</span></a></h2>
              <ul class="ftco-footer-social list-unstyled float-md-left float-lft mt-5">
                <li class="ftco-animate"><a href="#"><span class="icon-twitter"></span></a></li>
                <li class="ftco-animate"><a href="#"><span class="icon-facebook"></span></a></li>
                <li class="ftco-animate"><a href="#"><span class="icon-instagram"></span></a></li>
              </ul>
            </div>
          </div>
          <div class="col-md">
            <div class="ftco-footer-widget mb-4 ml-md-5">
              <h2 class="ftco-heading-2">Information</h2>
              <ul class="list-unstyled">
                <li><a href="#" class="py-2 d-block">About</a></li>
                <li><a href="#" class="py-2 d-block">Services</a></li>
                <li><a href="#" class="py-2 d-block">Term and Conditions</a></li>
                <li><a href="#" class="py-2 d-block">Best Price Guarantee</a></li>
                <li><a href="#" class="py-2 d-block">Privacy &amp; Cookies Policy</a></li>
              </ul>
            </div>
          </div>
          <div class="col-md">
             <div class="ftco-footer-widget mb-4">
              <h2 class="ftco-heading-2">Customer Support</h2>
              <ul class="list-unstyled">
                <li><a href="#" class="py-2 d-block">FAQ</a></li>
                <li><a href="#" class="py-2 d-block">Payment Option</a></li>
                <li><a href="#" class="py-2 d-block">Booking Tips</a></li>
                <li><a href="#" class="py-2 d-block">How it works</a></li>
                <li><a href="#" class="py-2 d-block">Contact Us</a></li>
              </ul>
            </div>
          </div>
          <div class="col-md">
            <div class="ftco-footer-widget mb-4">
            	<h2 class="ftco-heading-2">Have a Questions?</h2>
            	<div class="block-23 mb-3">
	              <ul>
	                <li><span class="icon icon-map-marker"></span><span class="text">Chriat University, Central Block, Banglore, INDIA</span></li>
	                <li><a href="#"><span class="icon icon-phone"></span><span class="text">8890779943</span></a></li>
	                <li><a href="#"><span class="icon icon-envelope"></span><span class="text">rentify123@services.com</span></a></li>
	              </ul>
	            </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12 text-center">
          </div>
        </div>
      </div>
    </footer>
    
  

  <!-- loader -->
  <div id="ftco-loader" class="show fullscreen"><svg class="circular" width="48px" height="48px"><circle class="path-bg" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke="#eeeeee"/><circle class="path" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke-miterlimit="10" stroke="#F96D00"/></svg></div>


  <script src="{% static 'myapp/js/jquery.min.js' %}"></script>
  <script src="{% static 'myapp/js/jquery-migrate-3.0.1.min.js' %}"></script>
  <script src="{% static 'myapp/js/popper.min.js' %}"></script>
  <script src="{% static 'myapp/js/bootstrap.min.js' %}"></script>
  <script src="{% static 'myapp/js/jquery.easing.1.3.js' %}"></script>
  <script src="{% static 'myapp/js/jquery.waypoints.min.js' %}"></script>
  <script src="{% static 'myapp/js/jquery.stellar.min.js' %}"></script>
  <script src="{% static 'myapp/js/owl.carousel.min.js' %}"></script>
  <script src="{% static 'myapp/js/jquery.magnific-popup.min.js' %}"></script>
  <script src="{% static 'myapp/js/aos.js' %}"></script>
  <script src="{% static 'myapp/js/jquery.animateNumber.min.js' %}"></script>
  <script src="{% static 'myapp/js/bootstrap-datepicker.js' %}"></script>
  <script src="{% static 'myapp/js/jquery.timepicker.min.js' %}"></script>
  <script src="{% static 'myapp/js/scrollax.min.js' %}"></script>
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBVWaKrjvy3MaE7SQ74_uJiULgl1JY0H2s&sensor=false"></script>
  <script src="{% static 'myapp/js/google-map.js' %}"></script>
  <script src="{% static 'myapp/js/main.js' %}"></script>
    
  </body>
</html>